<!--add a slide show featured items-->

<!--shop items-->
{{#if hasMessage}}
    <div class="alert alert-success mt-5">{{messages}}</div>
{{/if}}
<div class="shop">
    {{#each items}}
        <div class="card">
            <img src="{{this.iImg}}" class="card-img-top" alt="{{this.iName}}">
            <div class="card-body">
                <h5 class="card-title">{{this.iName}}</h5>
                <hr>
                <p class="card-text">{{this.iDesc}}</p>
                <span class="btn"><b>${{this.iPrice}}</b></span>
                <a href="/addtocart/{{this.iName}}" class="btn btn-success float-right">Add to Cart</a>
            </div>
        </div>
    {{/each}}
</div>
